[user]
	name = Damien LaRocque
	email = phicoltan@gmail.com
[core]
	editor = nvim
	autocrlf = input
[init]
	defaultBranch = main
[alias]
	s = status
	a = add
	aa = add -A
	c = commit
	cm = commit -m
	d = diff
	dword = d --word-diff
	p = push
	pf = push --force-with-lease
	pl = pull
	adog = log --all --decorate --oneline --graph
